.inner {
    padding: 5px;
    border: 1px solid rgb(190, 190, 190);
    border-radius: 5px;
    height: 100%;
    padding: 20px;
}

.col-md-4 {
    padding: 5px;
}

.btn {
    margin: 5px;
}  

.overflow {
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    text-overflow: ellipsis;
}

#filterText:after {
    content: ""; 
    position:absolute;
    right: 5%;
    top: 45%;
    vertical-align: middle;
    border-top: 4px solid #ffffff;
    border-right: 4px solid transparent;
    border-bottom: 0 dotted;
    border-left: 4px solid transparent;
    display: inline-block;
}